#showcase .showcase_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#showcase .showcase_content h1{
  font-size: 3rem;
}

/* About Us */
#about_us {
  flex-direction: column-reverse;
}

#about_us .image {
  border-radius: 50%;
  margin: 10px 150px;
  height: 100px;
  display: block;
}

/* Our Publications */
#our_publications .publications .card:not(:first-child, :last-child) {
  display: none;
}

#our_publications .publications .card  {
  width: 100%;
  flex: 1;
  justify-content: center;
}
/* Footer | Contact Us */
